.about {
  position: relative;
  max-width: 350px;
  margin-bottom: $main-size;
  @media (max-width: 1199.98px) {
    margin-bottom: $main-size-sm;
  }
  div,
  p,
  span,
  li {
    p {
      margin-bottom: 0rem;
    }
  }
  p {
    margin-bottom: $main-size;
    @media (max-width: 1199.98px) {
      margin-bottom: $main-size-sm;
    }
  }
  h2 {
    margin-bottom: 0rem;
  }
  a {
    text-transform: inherit;
  }
  @media (max-width: 991.98px) {
    margin-left: calc((100% / 3) - 0.1px);
  }
  @media (max-width: 767.98px) {
    margin-left: 0rem;
    margin-top: 3.5rem;
    width: 100%;
  }
  &.about--editions {
    @media (max-width: 991.98px) {
      margin-top: 6rem;
    }
  }
}

.fs-lg {
  font-size: $main-size !important;
}

.fs-xs {
  font-size: 1rem !important;
}

.mentions {
  a,
  p,
  div,
  span,
  h2,
  h3 {
    font-size: 1rem !important;
  }
}
