.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: $main-size;
  height: 100%;
  @media (max-width: 1199.98px) {
    grid-gap: $main-size-sm;
  }
  @media (max-width: 991.98px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--editions {
  margin-bottom: $main-size;
  @media (max-width: 1199.98px) {
    margin-bottom: $main-size-sm;
  }
  .item {
    .item__top {
      position: relative;
      background-color: #d0d0d0;
      //height: 40vh;
      height: 18vw;
      //max-height: 350px;
      margin-bottom: $main-size;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1199.98px) {
        margin-bottom: $main-size-sm;
        //height: 25vw;
      }
      @media (max-width: 991.98px) {
        //max-height: 300px;
        height: 35vw;
      }
      @media (max-width: 767.98px) {
        //max-height: 240px;
        height: 45vw;
      }
      .item__image {
        position: absolute;
        top: 50%;
        left: 5%;
        width: 90%;
        transform: translate(0%, -50%);
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: $main-size;
        opacity: 0;
        transition: opacity 0.3s;
        background: rgb($rSecondColor, $gSecondColor, $bSecondColor);
        background: linear-gradient(
          0deg,
          rgba($rSecondColor, $gSecondColor, $bSecondColor, 0) 15%,
          rgba($rSecondColor, $gSecondColor, $bSecondColor, 1)
        );
        text-align: center;
        @media (max-width: 1199.98px) {
          padding-top: $main-size-sm;
        }
        span {
          color: #fff;
        }
        &:hover {
          opacity: 1;
        }
        // @media (max-width: 767.98px) {
        //   background: transparent;
        // }
      }
    }
    .item__content {
      h2 {
        text-transform: uppercase;
      }
      p,
      .item__copie,
      .item__language {
        font-size: $second-size;
      }
      .item__language {
        margin-left: 1rem;
      }
      > div {
        display: flex;
      }
      .item__footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 1199.98px) {
          justify-content: space-between;
        }
        form {
          height: 25px;
          input[type="image"] {
            height: 25px;
          }
        }
        .paypal__btn {
          margin-left: 3rem;
          @media (max-width: 1199.98px) {
            margin-left: 0rem;
          }
        }
      }
    }
  }
  @media (max-width: 991.98px) {
    margin-top: 4rem;
  }
  @media (max-width: 767.98px) {
    margin-top: 5.7rem;
  }
}
