.carousel--edition {
  .carousel__info {
    .carousel__header {
      display: flex;
      justify-content: space-between;
      margin-top: $main-size;
      margin-bottom: $main-size;
      @media (max-width: 1199.98px) {
        margin-top: $main-size-sm;
        margin-bottom: $main-size-sm;
      }
      .carousel__title {
        display: flex;
        h2,
        h3 {
          margin-right: $main-size;
          text-transform: uppercase;
          @media (max-width: 1199.98px) {
            margin-right: $main-size-sm;
          }
          @media (max-width: 767.98px) {
            margin-right: 0rem;
            margin-bottom: $main-size-sm;
            &:last-child {
              margin-bottom: 0rem;
            }
          }
        }
        ul {
          margin-right: $main-size;
          @media (max-width: 1199.98px) {
            margin-right: $main-size-sm;
          }
          li {
            display: inline-block;
            text-transform: uppercase;
            margin-right: 0.4rem;
          }
          @media (max-width: 767.98px) {
            margin-right: 0rem;
            margin-bottom: $main-size-sm;
          }
        }
        span {
          text-transform: uppercase;
        }
        @media (max-width: 767.98px) {
          flex-direction: column;
        }
      }
    }
  }
  @media (max-width: 991.98px) {
    margin-top: 4rem;
  }
  @media (max-width: 767.98px) {
    margin-top: 5.7rem;
  }
}

.title__md {
  position: fixed;
  top: 1.7rem;
  right: 5.2rem;
  display: none;
  z-index: 100;
  h2 {
    text-transform: uppercase;
    color: $secondColor;
  }
  @media (max-width: 991.98px) {
    display: block;
  }
}

.edition-detail {
  margin-bottom: $main-size;
  @media (max-width: 1199.98px) {
    margin-bottom: $main-size-sm;
  }
  .edition-detail__description {
    width: 80%;
    margin-bottom: $main-size;
    @media (max-width: 1199.98px) {
      margin-bottom: $main-size-sm;
    }
    @media (max-width: 991.98px) {
      width: 100%;
    }
  }
  .edition-detail__list {
    display: flex;
    margin-bottom: $main-size;
    @media (max-width: 1199.98px) {
      margin-bottom: $main-size-sm;
    }
    span {
      margin-right: $main-size;
      font-size: 1.5rem;
      @media (max-width: 1199.98px) {
        margin-right: $main-size-sm;
      }
      @media (max-width: 767.98px) {
        font-size: 1.2rem;
      }
    }
  }
  .edition-detail__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .edition-detail__price {
      margin-right: $main-size;
      @media (max-width: 1199.98px) {
        margin-right: $main-size-sm;
      }
    }
    input[type="image"] {
      height: 30px;
    }
    @media (max-width: 991.98px) {
      margin-top: 8rem;
      justify-content: space-between;
    }
    @media (max-width: 767.98px) {
      margin-top: 4rem;
    }
  }
}
