// .grid {
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   grid-template-rows: 1fr;
//   grid-gap: 20px;
//   height: 100%;
// }

.menu,
.menu-fixed,
nav {
  position: fixed;
  top: $main-size;
  left: $main-size;
  width: calc(100% / 3 - 2.85rem);
  z-index: 100;
  //background-color: #eee;
  @media (max-width: 991.98px) {
    //width: calc(100% - 2.85rem);
    width: 100%;
  }
}

.content {
  position: relative;
  margin-left: calc(100% / 3 + 0.475rem);
  //margin-bottom: $main-size;
  @media (max-width: 991.98px) {
    margin-left: 0px;
    margin-bottom: 0rem;
  }
  // top: 20px;
  // right: 20px;
  // width: calc(200% / 3 - 30px);
  //background-color: #eee;
}
