nav {
  display: block;
  .menu__list {
    padding-left: $main-size;
    @media (max-width: 1199.98px) {
      padding-left: $main-size-sm;
    }
    li,
    li > a,
    li > span,
    li > a > span {
      color: $main-text-color;
      text-transform: uppercase;
      transition: color 0.3s;
      &:hover {
        // color: #6e3cfa;
        color: $secondColor;
      }
    }
    &.--special-color {
      // li,
      li > a,
      li > span,
      li > a > span {
        color: $second-text-color;
        position: relative;
        z-index: 10;
        cursor: pointer;
        &:hover {
          color: $secondColor;
        }
      }
    }
    li {
      &.--highlight {
        a,
        span {
          color: $secondColor;
        }
      }
    }

    @media (max-width: 991.98px) {
      padding-left: 0rem;
      li {
        padding-bottom: $main-size-sm;
      }
    }
  }
  .filters {
    position: relative;
    .filter-values {
      display: none;
      @media (max-width: 991.98px) {
        position: absolute;
        //left: 30%;
        // left: calc(3.8rem + (100% / 3 - 3.8rem));
        left: calc(3rem + (100% / 3 - 3rem));
        top: 0rem;
      }
      &.--show {
        display: block;
      }
    }
  }
  .--show {
    display: block;
  }
  .menu__top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 35%;
    z-index: 10;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      h1 {
        @media (max-width: 991.98px) {
          padding-top: 0.3rem;
        }
      }
      @media (max-width: 991.98px) {
        // display: flex;
        // justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }
    }
    .cart {
      margin-bottom: $main-size;
      text-transform: uppercase;
      display: none;
      @media (max-width: 1199.98px) {
        margin-bottom: $main-size-sm;
      }
      &.--show {
        display: block;
      }
      @media (max-width: 991.98px) {
        margin-bottom: 0rem;
        position: absolute;
        top: 1.8rem;
        //left: 30%;
        // left: calc(4.8rem + (100% / 3 - 3.8rem));
        left: calc(3.8rem + (100% / 3 - 3rem));
      }
      @media (max-width: 767.98px) {
        font-size: 1.2rem;
        top: 4.8rem;
        left: $main-size-sm;
      }
    }
    .burger-btn {
      display: none;
      height: 12px;
      width: 20px;
      flex-direction: column;
      justify-content: space-between;
      span {
        width: 100%;
        height: 2px;
        background-color: $main-text-color;
      }
      &.--open {
        span:first-child {
          transform: translate(0px, -2px) rotate(45deg);
          transform-origin: top left;
        }
        span:nth-child(2) {
          transform: scale(0, 1);
        }
        span:last-child {
          transform: translate(0px, 2px) rotate(-45deg);
          transform-origin: bottom left;
        }
      }
      @media (max-width: 991.98px) {
        display: flex;
      }
    }
    @media (max-width: 991.98px) {
      width: 100%;
      height: auto;
      padding: $main-size-sm;
    }
  }
  .menu__collapse {
    position: relative;
    width: 100%;
    height: calc(100vh - 3.8rem);
    .menu__center {
      position: absolute;
      top: 35%;
      width: 50%;
      z-index: 10;
      @media (max-width: 991.98px) {
        top: 66%;
        left: $main-size-sm;
        li {
          padding-bottom: $main-size-sm;
        }
      }
    }
    @media (max-width: 991.98px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      display: none;
      &.--visible {
        display: block;
      }
    }
  }
  @media (max-width: 991.98px) {
    top: 0rem;
    left: 0rem;
  }
}

.menu__dropdown {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 50%;
  z-index: 10;
  @media (max-width: 991.98px) {
    top: 33%;
    left: 0rem;
    width: 100%;
    padding: 0rem $main-size-sm;
  }
  @media (max-width: 767.98px) {
    top: 25%;
  }
}

.dropdown {
  position: relative;
  text-transform: uppercase;
  .dropdown__menu {
    display: none;
    @media (max-width: 991.98px) {
      position: absolute;
      //left: 30%;
      // left: calc(3.8rem + (100% / 3 - 3.8rem));
      left: calc(3rem + (100% / 3 - 3rem));
      top: 0rem;
    }
    @media (max-width: 767.98px) {
      left: 45%;
    }
  }
  &.--special {
    .dropdown__menu {
      width: 200%;
      transform: translate(-50%, 0%);
      z-index: 10;
      justify-content: space-between;
      .dropdown__item {
        width: 50%;
        @media (max-width: 991.98px) {
          //margin-right: 4rem;
          width: 32vw;
          max-width: 300px;
        }
        @media (max-width: 767.98px) {
          width: 100%;
          &:first-child {
            display: none;
          }
        }
      }
      // &:hover {
      //   display: flex;
      // }
      @media (max-width: 991.98px) {
        width: auto;
        transform: translate(0%, 0%);
        //display: flex;
        flex-direction: row-reverse;
      }
    }
  }
  &.--show {
    > span {
      color: $secondColor;
    }
    .dropdown__menu {
      display: flex;
    }
  }
  > span {
    cursor: pointer;
  }
  span.active {
    color: $secondColor;
  }
  // > span {
  //   &:hover {
  //     + .dropdown__menu {
  //       display: flex;
  //       // justify-content: space-between;
  //     }
  //   }
  // }
  @media (max-width: 991.98px) {
    margin-bottom: $main-size-sm;
  }
}
