.sliderHome {
  display: flex;
  width: 50%;
  height: calc(100vh - 3.8rem);
  align-items: center;
  position: relative;
  @media (max-width: 991.98px) {
    justify-content: center;
    width: 100%;
  }
  .slide {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
    &.active {
      opacity: 1;
    }
    @media (max-width: 991.98px) {
      width: 70%;
    }
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}
