.sliderHome {
  display: flex;
  width: 50%;
  height: calc(100vh - 3.4rem);
  align-items: center;
  position: relative;
  // position: fixed;
  // top: $main-size;
  // left: 0rem;
  // width: 100%;
  // justify-content: center;
  @media (max-width: 1199.98px) {
    height: calc(100vh - 3rem);
  }
  @media (max-width: 991.98px) {
    justify-content: center;
    width: 100%;
  }
  .slide {
    width: 100%;
    //width: 33%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
    &.active {
      opacity: 1;
    }
    @media (max-width: 991.98px) {
      width: 70%;
    }
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}
