// :root {
//   --main-text-color: #000000;
//   --second-text-color: #d0d0d0;
// }

p,
a,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: Maison;
  color: $main-text-color;
  font-size: $main-size;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  @media (max-width: 1199.98px) {
    font-size: $main-size-sm;
  }
}

a,
h1,
h2,
h3 {
  text-transform: uppercase;
}

a,
a > span {
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    color: $secondColor;
  }
  &.active {
    color: $secondColor;
    span {
      color: $secondColor;
    }
  }
}
