// :root {
//   --main-text-color: #000000;
//   --second-text-color: #d0d0d0;
//   --spacing: 1.9rem;
// }

$main-text-color: #000000;
$second-text-color: #d0d0d0;
$main-size: 1.9rem;
$second-size: 1.5rem;
