$main-text-color: #000000;
$second-text-color: #d0d0d0;
$secondColor: var(--colorHover);
$rSecondColor: var(--r);
$gSecondColor: var(--g);
$bSecondColor: var(--b);
$main-size: 1.7rem;
$main-size-sm: 1.5rem;
$second-size: 1.5rem;
